body {
    background-image: url(lift.png);
    background-size: cover;
    

    background-repeat: no-repeat;
}


.demoObject {
    width: 100px;
    height: 100px;
    margin: 30px auto;
    border: 1px solid rgba(73, 71, 71, 0.545) outset;
    border-radius: 70px;
  -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, -4px -3px 17px 7px rgba(233,230,212,0.96); 
    
  box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #deddd9, -4px -3px 17px 7px rgba(236, 234, 228, 0.96);
  background: #2e3234;
  transition: 0.7s;
  cursor: url(hand.png), auto;
  }

  .demoObject:hover {
    background: #212425;

  }

  .demoObject:active {
    -webkit-box-shadow: 1px 1px 1px 0px #000000, inset 1px 4px 15px 0px #deddd9, -4px -3px 17px 7px rgba(233,230,212,0.96); 
    
  box-shadow: 1px 1px 1px 0px #000000, inset 1px 4px 15px 0px #deddd9, -4px -3px 17px 4px rgba(236, 234, 228, 0.96);
  background: #0f1010;
  
  }

  p {
    color:#deddd9;
    text-align: center;
    padding: 5px;
  }

  .text {
    width: 160px;
    height: 80px;
    margin: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 4px;
    font-size: 20px;
    border: rgb(179, 175, 175) 1px solid;
    text-align: center;
    margin-top: 50px;
    
  }

.flexbox {
    display: flex;
    width: 350px;
    margin: auto;
}